@font-face {
   font-family: "roboto-regular";
   src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
   font-family: "roboto";
   src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
   font-family: "roboto-bold";
   src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
   font-family: "raleway";
   src: url(../fonts/Raleway-VariableFont_wght.ttf);
}